/*******************************/
/*********global-header.css *****/
/*******************************/


#beta_alert_header { background:#E05D00; color:#FFF;margin-bottom: 1.5em;}
#beta_alert_header a {color:#FFF; text-decoration:underline;}



/***************************/
/**********skip link********/
/***************************/

/*Move skip link further off the page to allow for larger base font-size */ 
#s-lg-public-skiplink {top:-90px;} 

/*************************/
/***** Custom Header *****/
/*************************/



#my_library_logo {overflow:hidden; margin-right:5%;}
#my_navbar {clear:both;}

  /**************************/
 /** Bootstrap overrides ***/
/*************************/

#global-header .navbar-brand {height:100%;}
#global-header .navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 20px;
    font-weight: bold;
    padding-right:15px;
    
}
#global-header .navbar {
    border-radius: 0;
}



@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {border-bottom: 2px solid #eee ;background-color:#fafafa;}
.navbar-nav .open:last-child .dropdown-menu {border-bottom: 0;}


}


