/*******************************
*********global-header.css *****
*******************************/


#beta_alert_header { background:#E05D00; color:#FFF;}
#beta_alert_header a {color:#FFF; text-decoration:underline;}



/*************************/
/***** Custom Header *****/
/*************************/


#my_header {padding: 1.5em 0}
#my_header img {max-width:100%;}

/* this is for screen readers. it needs to be font size 12 or you can see it in a regular browser */
#s-lg-public-skiplink {font-size:12px} 