<style type="text/css">
/****************************
This is the global css file for WIT LibGuides 2. 
It is included on every page.
******************************/


/*********
Header 
**********/

#header {background: #444 ;margin-left:-15px;margin-right:-15px;}
#institutional_banner{color:#777}
#library_banner{color:#FFBE3F}

/* this is for screen readers. it needs to be font size 12 or you can see it in a regular browser */
#s-lg-public-skiplink {font-size:12px} 

/* look and feel */

body {
background:#fff;
color:#555
}

a:focus, a:hover {
color:#86100D
}

a {
color: #a94442
}



/**********
Typography
***********/

body {
   
   font-size: 16px;
}

    #s-lg-guide-header-info h1,
     .s-lib-header h1{
         font-size: 2em;
         text-align: left;
         letter-spacing: -0.1px; 
     }
     .s-lib-box .s-lib-box-title {
         font-size: 1.5em;
         letter-spacing: -0.1px
     }
     .s-lib-box-content h1,
     .s-lib-box-content h2,
     .s-lib-box-content h3 {
         font-size: 1.5em;
     }
     .s-lib-box-content h4 {
         font-size: 1.25em;
     }
     .s-lib-box-content h5 {
         font-size: 1.125em;
     }
     .s-lg-book-title {
         font-size: 1.125em;
     }
     .s-lg-link-list,
     .s-lib-box-content ul {
         padding-left: 40px;
     }
 



/**********
Footer
***********/

/*override default footer max width */

#s-lib-footer-public.container {
  margin-left: -15px;
  margin-right: -15px;
  max-width: inherit;
  width: inherit;
}

</style>
