<style type="text/css">
/****************************
This is the global css file for WIT LibGuides 2. 
It is included on every page.
******************************/


/*****************************/
/******* global styles *******/
/*****************************/

body {
   background:#e9eaed;
   color:#555;
   padding-left:0px;
   padding-right:0px;
   font-size:14px;
   }

a:focus, a:hover {
   color:#86100D
   }

a {color: #a94442}

.s-lib-side-borders {
    padding-left:15px;
    padding-right:15px;
   }

/*************************/
/***** Custom Header *****/
/*************************/

#my_header {
   background: #444;
  
   }
   
#institutional_banner {color:#777; padding-top: 10px; padding-bottom:10px;}
#library_logo {color:#FFBE3F; margin-left:10px;font-family: georgia, serif;}

/* this is for screen readers. it needs to be font size 12 or you can see it in a regular browser */
#s-lg-public-skiplink {font-size:12px} 

/************************/
/* Guide Homepage */
/***********************/

#s-lg-index-list .alert {display:none;}

/****************************/
/***** Guide Header *****/
/****************************/

/***** Guide Title *****/
#s-lg-guide-name {
   font-size: 36px !important;
   font-weight: normal;
   
   }
#s-lg-guide-header-info {margin:15px 0px;}



/******************************/
/***** Guide content area *****/
/******************************/

/**** Side Nav Bar ****/

#s-lg-tabs-container .nav-pills > li > a  { padding:10px 15px;}

#s-lg-guide-tabs .list-group-item > a {
    display: block;
   padding:10px 15px;
   -moz-transition: background-color 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -webkit-transition: background-color 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -ms-transition: background-color 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: background-color 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: background-color 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

#s-lg-guide-tabs .list-group-item > a:hover {
    background-color: #F5F5F5;

}
#s-lg-guide-tabs .s-lg-boxnav {
    margin-top: 0;
}

#s-lg-guide-tabs .list-group-item {
    margin-top: 0;
    margin-bottom: -1px;
    padding: 0;
    margin-right: -1px;
    border: 1px solid #E9EAED;
}

#s-lg-guide-tabs .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#s-lg-guide-tabs .active {
    border-bottom-right-radius:0 !important;   
}



/**** boxes ****/
.s-lib-box.s-lib-box-std {
padding: 15px;
box-shadow: 0 7px 23px -6px #AAA;
   }

.s-lib-box-content li > div {
   margin-bottom:15px;
   }
   
.s-lib-box .s-lib-box-title  {
   font-size: 30px;
   font-weight: normal;
   border-bottom: 1px solid #ccc;
   padding: 10px 0;
   
   }
   


/*****************/
/***** admin *****/
/*****************/

/*but now the admin command bar is too big, let's fix that */
.s-lg-guide-body .s-lib-cmd-bar {font-size:12px;}




/******************/
/***** Footer *****/
/******************/


#my_footer { background: #444; }
.my_footer_links li, .my_footer_links a{color:#FFBE3F;}
#my_footer h4, #my_footer p{color:#FFF;}
#social_media a {text-decoration:none;}

#s-lib-footer-brand, #s-lib-footer-rights,#s-lib-footer-support-link  {display:none;}
#s-lib-footer-login-link{display:block;text-align:right;}
.s-lib-footer {border:0;background:#e9eaed;}
div#my_footer_address {margin-top: 30px; border-top:1px solid #999; min-height:50px;}

</style>