/***************************/


/**********skip link********/


/***************************/


/*Move skip link further off the page to allow for larger base font-size */

#s-lg-public-skiplink {
    top: -90px;
}


/*************************/


/***** Global Header *****/


/*************************/

#institutional_header {
    margin:5px 0px;
 flex: 0 1 100%;
 align-self:flex-start;
}

#global_header nav {
    border:0;
    border-radius:0;
   
}

#header_flex_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#my_navbar{ background-color:#000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#main_menu {
    list-style: none;
    margin: 0;
    padding:0;
    background-color: #000000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
   
}

#main_menu .dropdown-toggle {
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    color: #eee;
    font-size:1.25em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .0714em;
}    

#main_menu .open .dropdown-toggle {
    background: #FFCB05;
    color: #000;
}

#main_menu .dropdown-menu {
    margin-top: 0;
    border-radius: 0;

}

#main_menu .dropdown-menu>li>a:focus, #main_menu .dropdown-menu>li>a:hover {
    background: #FFCB05;
    color: #000;
}

#main_menu .dropdown-menu a {
    text-transform: uppercase;
    padding: .5em 1.5em;
}

@media all and (max-width: 991px) {
    #header_flex_container {
        flex-direction: column;
        align-items:center;
    }
    #main_menu {
        justify-content: space-around;
    }
}

@media all and (max-width: 767px) {
    #main_menu {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        margin-right: -15px;
        margin-left: -15px;
    }
    #main_menu li:last-of-type a {
        border-bottom: none;
    }
    #main_menu .open .dropdown-menu {
        position: relative;
        float: none;
        border: 0;
        box-shadow: 0 0 0 0;
        background-color: #fff;
    }
   
    
    
}

#my_library_hours {
    font-weight: bold;
    padding: 0 0 5px 15px;
}

#hours_link,
#my_library_hours {
    color: #c9252b;
}

#my_library_logo {
    margin:15px 15px 15px 0;
}




/**************************/


/** Bootstrap overrides ***/


/*************************/

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.img-responsive { 
    
   /* width:100%; */
}


/*#global_header .navbar {border-radius: 0;}
#global_header .navbar-brand {height:100%;}
#global_header .navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 20px;
    font-weight: bold;
    padding-right:15px;
    
}*/


/*#global_header .dropdown-menu > li > a {font-size:18px; line-height: 2} */


/*@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {border-bottom: 2px solid #eee ;background-color:#fafafa;}
.navbar-nav .open:last-child .dropdown-menu {border-bottom: 0;}


}


*/
