
/***************************/
/**********skip link********/
/***************************/

/*Move skip link further off the page to allow for larger base font-size */ 
#s-lg-public-skiplink {top:-90px;} 

/*************************/
/***** Custom Header *****/
/*************************/


.flex-container {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    
}

#my_library_hours{font-weight: bold;padding:0 0 5px 15px;}
#hours_link,#my_library_hours{color:#ff0047;}
#my_library_logo {margin: 15px;}


  /**************************/
 /** Bootstrap overrides ***/
/*************************/

/*#global_header .navbar {border-radius: 0;}
#global_header .navbar-brand {height:100%;}
#global_header .navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 20px;
    font-weight: bold;
    padding-right:15px;
    
}*/
/*#global_header .dropdown-menu > li > a {font-size:18px; line-height: 2} */



/*@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {border-bottom: 2px solid #eee ;background-color:#fafafa;}
.navbar-nav .open:last-child .dropdown-menu {border-bottom: 0;}


}


*/