/* Include this CSS in the guide custom JS/CSS for the home page */

#s-lg-guide-tabs-title-bar { border-top: 0; }
h1#s-lg-guide-name {margin:0;}
@media (min-width:768px){
#search_wrapper {
    background-color: #ccc;
    background-image: url("http://blogs.wit.edu/library-renovation/files/2016/01/cropped-PERSPECTIVE-MEZZANINE.jpg");
    display: flex;
    align-items: center;
    min-height:200px;
}
.navbar {
margin-bottom:0;
}
}