/* Include this CSS in the guide custom JS/CSS for the home page */

#alert_banner {
    background:red; 
    color:white;
    
}

#s-lg-guide-name {
    display: none;
}

#s-lg-guide-tabs-title-bar {
    border-top: 0;
}

h1#s-lg-guide-name {
    margin: 0;
}

.s-lib-box.s-lib-box-std {
    background: transparent;
}

.s-lib-box .s-lib-box-title {
    background: transparent;
}

#second_row {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width:768px) {
    #first_row {
    background-color: #aaa;
    background-image: url(https://schumann-library.github.io/libguides2-customizations/livingroom%20to%20cafe%20crop.png);
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 0% 40%;
    }
    #s-lg-row-1 {
        background: rgba(247, 247, 247, 0.88);
        border-radius: 10px;
    }
    .navbar {
        margin-bottom: 0;
    }
}
