  #search_blaster_query { display: flex; flex-wrap:nowrap; }
   
   #search_blaster_text {
         flex-grow: 1;
         padding:5px;
         font-size:2em;
         overflow-x: hidden;
         border-radius:4px 0px 0px 4px;
         border:2px solid #555;
       
   }
   
   #search_blaster_options_button {border-radius: 0}
    #search_options {padding:10px;border:1px solid #ccc; background-color: #d9edf7}