Body {font-size:14px; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6{font-family: 'Open Sans', sans-serif;}

#s-lg-guide-header-info h1, .s-lib-header h1  {
    font-size:45px; 
    font-weight: bold;
    text-transform:uppercase;
    margin-bottom: 45px;
    
}

#s-lib-bc li {
   
    font-weight: normal;
    font-size: 12px;
}

/*** in libguides boxes ***/

/*Box Title */
.s-lib-box .s-lib-box-title {font-size:24px; color:#a94442;}

/*Box Content */
.s-lib-box-content p {
font-family: 'Noto Serif', serif; 
font-size:18px; 
line-height:30px;
margin-bottom: 24px;
}

